*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --clr-background: #222831;
    --clr-header: #00ADB5;
    --clr-border: #00ADB5;

    --clr-text: #EEE;
    --clr-low-count: #FF0000;
    --clr-mid-count: #FFA500;
    --clr-goal-count: #00FF00;
}

body {
    background-color: var(--clr-background);
    font-family: Inter, sans-serif;
}

.container {
    display: none;
    width: 90ch;
    margin: 0 auto;
}

.title {
    text-align: center;
    color: var(--clr-header);
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.goal-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    gap: 2rem;
}

.goal-form__label {
    font-size: 2rem;
    color: var(--clr-text);
}

.goal-form__input {
    text-align: center;
    padding: 1rem 3rem;

    font-family: Inter, sans-serif;
    font-size: 2rem;
    color: var(--clr-background);

    border: 5px solid var(--clr-border);
    border-radius: 100px;
}

.goal-form__button {
    background-color: var(--clr-background);
    border-color: var(--clr-border);
    border-radius: 10px;
    padding: 1rem 2rem;
    font-size: 1.4rem;
    color: var(--clr-text);
    font-weight: 700;

    cursor: pointer;
}

.goal-form__button:hover {
    background-color: var(--clr-border);
    border-color: var(--clr-border);
    color: var(--clr-background);
}



.word-count {
    color: var(--clr-text);
    text-align: end;
    margin: 1rem 0;
    font-weight: 700;
}

.text-box {
    width: 100%;
    height: 75vh;
    background-color: var(--clr-background);
    color: var(--clr-text);
    border: 2px solid var(--clr-border);
    outline: none;
    padding: 2rem;
    resize: none;
    font-size: 1.3rem;
    line-height: 1.5;

}

